article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'EB Garamond', serif;
  font-family: 'Paytone One', sans-serif;
  background-color: #16134A;
  height: 100vh; }

.wrapper {
  width: 100%;
  max-width: 1100px;
  margin: auto; }

img {
  max-width: 100%;
  border-radius: 10px; }

audio {
  margin: 0 auto;
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

h1 {
  color: #fff;
  font-size: 50px;
  font-size: 5rem;
  line-height: 60px;
  margin-bottom: 0;
  margin-top: 10px; }

h2 {
  color: #fff;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 0; }

h3 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0; }

p {
  color: #fff;
  font-family: 'EB Garamond', serif;
  margin: 0 auto;
  line-height: 15px;
  font-size: 13px;
  font-size: 1.3rem; }

.introScore p {
  font-family: 'Paytone One', sans-serif; }

.clips_inputs p {
  text-align: center; }

header {
  height: 100vh; }

main {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

form input {
  padding: 10px 10px;
  width: 40%;
  text-align: center;
  border: 5px solid #6A70B3;
  border-radius: 12px;
  background: none;
  color: #2AB699; }
  form input::-webkit-input-placeholder {
    color: #6A70B3; }
  form input:-ms-input-placeholder {
    color: #6A70B3; }
  form input::placeholder {
    color: #6A70B3; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent; }

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent; }

/* IE 10+ */
*:focus {
  outline: none; }

.submit {
  width: 40%;
  margin-top: 25px;
  border-radius: 10px; }

button {
  padding: 10px 15px;
  border: 5px solid #6A70B3;
  background: none;
  color: #2AB699;
  font-weight: 700;
  border-radius: 12px; }
  @media (max-width: 768px) {
    button {
      padding: -5px; } }
  button:hover {
    background: #6A70B3;
    color: white; }

.music {
  width: 30%;
  padding: 10px 25px; }
  .music:hover {
    background-color: #6A70B3;
    color: white; }

.from {
  margin-top: 15px; }

#question1, #question2, #question3, #question4, #question5 {
  display: none; }

header .container {
  padding: 15px 30px; }

.welcome button {
  color: #2AB699;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  -webkit-box-shadow: 3px 3px 2px black;
  box-shadow: 3px 3px 2px black;
  border-radius: 5px; }

.welcome button:hover {
  background-color: white;
  color: #551a8b;
  padding-bottom: 8px;
  border: 1px solid #551a8b; }

.welcome_container {
  -webkit-transform: translateY(calc(50% - 100px));
  -ms-transform: translateY(calc(50% - 100px));
  transform: translateY(calc(50% - 100px));
  border: 2px solid black;
  border-radius: 10px; }
  @media (max-width: 768px) {
    .welcome_container {
      -webkit-transform: translateY(10%);
      -ms-transform: translateY(10%);
      transform: translateY(10%); } }

.welcome {
  text-align: center; }

.intro1, .introScore {
  margin: 0 auto;
  margin-top: 20px; }
  @media (max-width: 768px) {
    .intro1, .introScore {
      width: 100%; } }

.intro1 {
  width: 50%; }

.intro1 p {
  line-height: 1.2;
  font-size: 12px;
  font-size: 1.2rem; }

.introScore {
  width: 70%; }

.introScore p {
  line-height: 1.2;
  letter-spacing: 1.2px;
  font-size: 10px;
  font-size: 1rem; }

.lets_play {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 20px; }

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  background: #263779;
  -webkit-box-shadow: 10px 10px #000;
  box-shadow: 10px 10px #000;
  padding: 30px;
  border: 5px solid #6C73B1;
  border-radius: 12px;
  z-index: 10; }

.question_number {
  text-align: center;
  margin-bottom: 50px; }
  @media (max-width: 768px) {
    .question_number {
      margin-bottom: 20px; } }

.playing_field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.character_img {
  width: 50%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 768px) {
    .character_img {
      width: 70%; } }

.clips_inputs {
  width: 50%;
  padding: 0 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media (max-width: 768px) {
    .clips_inputs {
      width: 100%; } }

.time_frame {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media (max-width: 768px) {
    .time_frame {
      width: 90%;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media (max-width: 650px) {
    .time_frame {
      width: 100%; } }

.point_reminders {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto; }

.point_reminders p {
  margin: 0; }

.point_reminders > p:nth-child(2) {
  margin: 0 25px; }

.question_result {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.question_result p {
  font-size: 30px;
  font-size: 3rem;
  font-family: 'Paytone One', sans-serif; }

.activate {
  display: block; }

.question_result p {
  display: none; }

.question_result button {
  margin-top: 30px;
  background-color: #16134A; }
  .question_result button:hover {
    background: #6A70B3; }

.copyright {
  font-size: 8px;
  font-size: 0.8rem;
  width: 50%;
  text-align: center;
  letter-spacing: 1.1px;
  position: fixed;
  bottom: 25px;
  right: 25%;
  font-family: 'Paytone One', sans-serif; }

#final_results {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none; }

#final_results > div {
  display: none; }

.top_text, .middle_text, .bottom_text {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.top_text, .middle_text, .bottom_text h2, p {
  text-align: center; }

.score {
  text-align: center; }

#answers {
  display: none; }

.answers_and_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

ul.correct {
  text-align: center;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

ul.correct li {
  margin: 5px 0;
  padding-left: 0; }
