@import "partials/setup";
@import "partials/mixins";
@import "partials/variables";
@import "partials/global";


// code by Wilson Klodt Wong and Maren Sigson

#question1, #question2, #question3, #question4, #question5 {
	display: none;
}

header .container {
	padding: 15px 30px;
}

.welcome button {
	color: #2AB699;
	// background-color:;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 20px;
	margin-top: 10px;
	border: none;
	box-shadow: 3px 3px 2px black;
	border-radius: 5px;
}

.welcome button:hover {
	background-color: white;
	color: $welcomeColor;
	padding-bottom: 8px;
	border: 1px solid $welcomeColor;
}

.welcome_container{ 
	transform: translateY(calc(50% - 100px));
	border: 2px solid black;
	border-radius: 10px;
	@include respond-to(tablet) {
		transform: translateY(10%);
	}
}

.welcome {
	text-align: center;
}

.intro1, .introScore {
	margin: 0 auto;
	margin-top: 20px;
	@include respond-to(tablet) {
		width: 100%;
	}
}

.intro1 {
	width: 50%;
}

.intro1 p {
	line-height: 1.2;
	@include fontSize(12)
}

.introScore {
	width: 70%;
}

.introScore p {
	line-height: 1.2;
	letter-spacing: 1.2px;
	@include fontSize(10)
}


.lets_play {
	display: flex;
	margin: auto;
	margin-top: 20px;
}

.container {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
	background: #263779;
	box-shadow: 10px 10px #000;
	padding: 30px;
	border: 5px solid #6C73B1;
	border-radius: 12px;
	z-index: 10;
}

.question_number {
	text-align: center;
	margin-bottom: 50px;
	@include respond-to(tablet) {
		margin-bottom: 20px;
		}
}

.playing_field {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.character_img {
	width: 50%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
		@include respond-to(tablet) {
		width: 70%;
		}
}

.clips_inputs {
	width: 50%;
	padding: 0 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	@include respond-to(tablet) {
		width: 100%;
		}
}

.time_frame {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	@include respond-to(tablet) {
		width: 90%;
		flex-direction: row;
		justify-content: space-between;
	}
	@include respond-to(phone) {
		width: 100%;
	}
}

.point_reminders {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto;
}

.point_reminders p {
	margin: 0;
}

.point_reminders > p:nth-child(2) {
	margin: 0 25px;
}

.question_result {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	justify-content: center;
	align-content: center;
}

.question_result p {
	@include fontSize(30);
	font-family: 'Paytone One', sans-serif;
}

.activate {
	display: block;
}

.question_result p {
	display: none;
}

.question_result button {
	margin-top: 30px;
	background-color: #16134A;
	&:hover {
		background: #6A70B3;
	}
}

.copyright {
	@include fontSize(8);
	width: 50%;
	text-align: center;
	letter-spacing: 1.1px;
	position: fixed;
	bottom: 25px;
	right: 25%;
	font-family: 'Paytone One', sans-serif;
}

#final_results {
    display: flex;
    flex-direction:column;
    display: none;
}

#final_results > div {
	display: none;
}

.top_text, .middle_text, .bottom_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top_text, .middle_text, .bottom_text h2, p {
    text-align: center;
}

.score {
	text-align: center;
}

#answers {
	display: none;
}

.answers_and_img {
	display: flex;
	flex-wrap: wrap; 
	justify-content: center;
	align-items: center;

}

ul.correct {
	text-align: center;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul.correct li {
	margin: 5px 0;
	padding-left: 0;
}